<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.projectManagement.mapper.ProjectManagementMapper">
    <resultMap id="projectManagementVoResultMap" type="org.jeecg.modules.demo.projectManagement.vo.ProjectManagementVo">
        <constructor>
            <idArg column="id" javaType="string" />
        </constructor>
        <result property="indexId" column="index_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="projectYear" column="project_year"/>
        <result property="projectIndex" column="project_index"/>
        <result property="projectName" column="project_name"/>
        <result property="projectCategory" column="project_category"/>
        <result property="projectStatus" column="project_status"/>
        <result property="clientName" column="client_name"/>
        <result property="signDate" column="sign_date"/>
        <result property="contractScanned" column="contract_scanned"/>
        <result property="consultFee" column="consult_fee"/>
        <result property="remark" column="remark"/>
        <collection property="projectPaymentTermVos" ofType="org.jeecg.modules.demo.projectManagement.vo.ProjectPaymentTermVo">
            <result property="spec" column="ppt_spec"/>
            <result property="paymentAmount" column="ppt_payment_amount"/>
            <result property="remark" column="ppt_remark"/>
        </collection>
        <collection property="contractPaymentTermVos" ofType="org.jeecg.modules.demo.contractManagement.vo.ContractPaymentTermVo">
            <result property="spec" column="cpt_spec"/>
            <result property="paymentAmount" column="cpt_payment_amount"/>
            <result property="remark" column="cpt_remark"/>
        </collection>
        <collection property="projectPaymentRecvVos" ofType="org.jeecg.modules.demo.projectManagement.vo.ProjectPaymentRecvVo">
            <result property="paymentAmount" column="ppr_payment_amount"/>
            <result property="kpDate" column="ppr_kp_date"/>
            <result property="remark" column="ppr_remark"/>
        </collection>
        <collection property="contractPaymentRecvVos" ofType="org.jeecg.modules.demo.contractManagement.vo.ContractPaymentRecvVo">
            <result property="paymentAmount" column="cpr_payment_amount"/>
            <result property="kpDate" column="cpr_kp_date"/>
            <result property="payDate" column="cpr_pay_date"/>
            <result property="remark" column="cpr_remark"/>
        </collection>
    </resultMap>

    <select id="selectProjectManagementVoList" resultMap="projectManagementVoResultMap">
        SELECT
            pm.id,
            pm.index_id,
            pm.dept_name,
            pm.project_year,
            pm.project_index,
            pm.project_name,
            pm.project_category,
            pm.project_status,
            pm.client_name,
            pm.sign_date,
            pm.contract_scanned,
            ppt.spec as ppt_spec,
            ppt.payment_amount as ppt_payment_amount,
            ppt.remark as ppt_remark,
            cm.supplier_name,
            cpt.spec as cpt_spec,
            cpt.payment_amount as cpt_payment_amount,
            cpt.remark as cpt_remark,
            ppr.payment_amount as ppr_payment_amount,
            ppr.kp_date as ppr_kp_date,
            ppr.remark as ppr_remark,
            cpr.payment_amount as cpr_payment_amount,
            cpr.kp_date as cpr_kp_date,
            cpr.pay_date as cpr_pay_date,
            cpr.remark as cpr_remark,
            pm.consult_fee,
            pm.remark
        FROM
            project_management pm
                LEFT OUTER JOIN project_payment_term ppt ON pm.id = ppt.project_fk_id AND ppt.is_delete = 0
                LEFT OUTER JOIN (
                contract_management cm
                    LEFT OUTER JOIN contract_payment_term cpt ON cm.id = cpt.contract_fk_id AND cpt.is_delete = 0
                    LEFT OUTER JOIN contract_payment_recv cpr ON cm.id = cpr.contract_fk_id AND cpr.is_delete = 0
                ) ON pm.id = cm.project_fk_id AND cm.is_delete = 0
                LEFT OUTER JOIN project_payment_recv ppr ON pm.id = ppr.project_fk_id AND ppr.is_delete = 0
        WHERE
            pm.is_delete = 0
        ORDER BY
            pm.create_time DESC
    </select>
    <select id="selectIdByProjectIndex" resultType="java.lang.String">
        SELECT id FROM project_management WHERE project_index = #{projectIndex} AND is_delete = 0 LIMIT 1
    </select>
</mapper>