<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.supplierManagement.mapper.SupplierContactMapper">

	<update id="deleteByMainId" parameterType="java.lang.String">
		UPDATE supplier_contact
		SET is_delete = 1
		WHERE
			 supplier_fk_id = #{mainId} 	</update>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.supplierManagement.entity.SupplierContact">
		SELECT * 
		FROM  supplier_contact
		WHERE
			 supplier_fk_id = #{mainId} AND is_delete = 0 </select>
</mapper>
